<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haoyang.lovelyreader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".tre.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        tools:replace="icon,label,theme">
        <activity
            android:name="com.haoyang.lovelyreader.tre.ui.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tre.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".tre.ui.LoginActivity" />
        <activity android:name=".tre.ui.RegisterActivity" />
        <activity android:name=".tre.ui.FileActivity" />
        <activity android:name=".tre.ui.MemberActivity" />
        <activity android:name=".tre.ui.FeedbackActivity" />

        <!-- reader sdk -->
        <activity
            android:name="com.haoyang.reader.page.ReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name="com.haoyang.reader.page.ImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.haoyang.lovelyreader.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.haoyang.lovelyreader.ui.FileBrowseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <provider
            android:name=".tre.util.MyProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>